name: Tests
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
          cache: maven

      - name: Install dependencies (sin tests)
        run: mvn -B install -DskipTests

      - name: Check code quality (Checkstyle)
        run: mvn -B checkstyle:check

      - name: Run tests
        run: mvn -B test
